* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  padding: 0 4rem;
  width: 100%;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 3rem;
}

main {
  border: 2px solid black;
  width: 100%;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pokemon-list li button {
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.is-visible {
  display: block;
}

#modal-container {
  display: none;
}

#modal-container.modal-is-visible {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  display: grid;
  text-align: center;

  overflow: auto;
}

.modal {
  margin: auto;
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 0.2rem;
  width: 100%;
  max-width: 700px;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  background: none;
  border: none;
  font-size: medium;
  text-decoration: underline;
  cursor: pointer;
}

.pokemon-img {
  margin: 0 auto;
  height: 100px;
}

.img-container {
  width: 100%;
  text-align: center;
}

.modal p {
  font-size: x-large;
  margin: 0;
}

.modal h1 {
  margin: 0;
  margin-bottom: 1rem;
}