.fire {
  background-color: orange;
}

.grass {
  background-color: green;
}

.poison {
  background-color: red;
}

.water {
  background-color: aqua;
}

.ghost {
  background-color: blueviolet;
}

.flying {
  background-color: white;
}

.electric {
  background-color: yellow;
}

.title {
  text-align: center;
  font-size: 3rem;
}

main {
  border: 2px solid black;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pokemon-list li button {
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.hidden {
  display: none;
}

.is-visible {
  display: block;
}